---
import StoryCard from '../components/StoryCard.astro';
import BookCard from '../components/BookCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<div class="section">
		<div class="inner">
			<div class="texts">
				<h1>I am <span class="emphatic">crafting</span> a future I can be <span class="emphatic">proud</span> of</h1>
				<h2>and, I honestly can’t keep it to myself.</h2>
				<p>
					I am currently entrepreneur-ing at <a target="_blank" href="https://revaise.com" class="bold">Revaise</a> (we are revolutionising peer reviews in the workplace), and being the best software engineer I can be at  <a target="_blank" href="https://acumen.digital" class="bold">Acumen</a>.
				</p>
			</div>

			<!-- MOST RECENT WRITING -->
			<section>
				<h3 class="mini-heading">
					Most recent writing
				</h3>
				<div class="list">
					<StoryCard story={{ title: 'Your Guide to Hacking CSS Units and Dimensions—One Size Could Fit All', propOne: '', propTwo: '' }} />
					<StoryCard story={{ title: 'Your Guide to Hacking CSS Units and Dimensions—One Size Could Fit All', propOne: '', propTwo: '' }} />
					<StoryCard story={{ title: 'Your Guide to Hacking CSS Units and Dimensions—One Size Could Fit All', propOne: '', propTwo: '' }} />
				</div>
				<a href="/stories">See everything I’ve written</a>
			</section>

			<!-- MOST RECENT WRITING -->
			<section>
				<h3 class="mini-heading">
					Books read this year
				</h3>
				<div class="list">
					<BookCard book={{ title: 'Your Guide to Hacking CSS Units and Dimensions—One Size Could Fit All', propOne: '', propTwo: '' }} />
					<BookCard book={{ title: 'Your Guide to Hacking CSS Units and Dimensions—One Size Could Fit All', propOne: '', propTwo: '' }} />
					<BookCard book={{ title: 'Your Guide to Hacking CSS Units and Dimensions—One Size Could Fit All', propOne: '', propTwo: '' }} />
				</div>
				<a href="/books">See all books I’ve read</a>
			</section>
		</div>
	</div>
</Layout>

<style>
	.texts {
		padding: 5rem 0;
		padding-top: 7rem;
	}
	h1 {
		font-weight: 500;
		font-size: 3.5rem;
		line-height: 4.1rem;
	}
	h2 {
		font-weight: 400;
		font-size: 3rem;
		line-height: 4rem;
		padding-top: 0.6rem;
	}
	p {
		font-weight: 300;
		font-size: 2rem;
		line-height: 3rem;
		margin-top: 2rem;
	}
	p a {
		text-decoration: none;
		border-bottom: 1px solid #000000;
		color: #000000;
	}

	section {
		margin-bottom: 5rem;
	}
	section a {
		font-size: 1.2rem;
		border-bottom: 1px solid #000000;
		color: #000000;
		text-decoration: none;
	}
	.list {
		margin-bottom: 2rem;
	}
	h3 {
		font-size: 1.1rem;
		font-weight: 600;
		margin-bottom: 1rem;
		color: var(--primary-dark);
	}
</style>
