---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Writing">
	<div class="section">
		<div class="inner">
      <h2 class="title">
        Your Guide to Hacking CSS Units and Dimensions—One Size Could Fit All
      </h2>
      <div class="row">
        <div>November 11, 2022</div>
        <div>Read for <span class="bold">5 Minutes</span></div>
      </div>
      <main>
        <div class="cover-img" />
        <p>
          <span class="major">I know there’s a lot to tell about me, but there’s a lot to tell about people too, and this is the best way I can express myself :) I am crafting a future I can be proud of. You better believe I am trying my best to. </span>
          <span>I know there’s a lot to tell about me, but there’s a lot to tell about people too, and this is the best way I can express myself :) I am crafting a future I can be proud of. Your Guide to Hacking CSS Units and Dimensions — One Size Could Fit AllI know there’s a lot to tell about me.I know there’s a lot to tell about me, but there’s a lot to tell about people too, and this is the best way I can express myself :) I am crafting a future I can be proud of. Your Guide to Hacking CSS Units and Dimensions — One Size Could Fit AllI know there’s a lot to tell about me.</span>
          <span>I know there’s a lot to tell about me, but there’s a lot to tell about people too, and this is the best way I can express myself :) I am crafting a future I can be proud of. Your Guide to Hacking CSS Units and Dimensions — One Size Could Fit AllI know there’s a lot to tell about me.I know there’s a lot to tell about me, but there’s a lot to tell about people too, and this is the best way I can express myself :) I am crafting a future I can be proud of. </span>
          <span>I know there’s a lot to tell about me, but there’s a lot to tell about people too, and this is the best way I can express myself :) I am crafting a future I can be proud of. Your Guide to Hacking CSS Units and Dimensions — One Size Could Fit AllI know there’s a lot to tell about me.I know there’s a lot to tell about me, but there’s a lot to tell about people too, and this is the best way I can express myself :) I am crafting a future I can be proud of. </span>
          <span>I know there’s a lot to tell about me, but there’s a lot to tell about people too, and this is the best way I can express myself :) I am crafting a future I can be proud of. Your Guide to Hacking CSS Units and Dimensions — One Size Could Fit AllI know there’s a lot to tell about me.I know there’s a lot to tell about me, but there’s a lot to tell about people too, and this is the best way I can express myself :) I am crafting a future I can be proud of. Your Guide to Hacking CSS Units and Dimensions — One Size Could Fit AllI know there’s a lot to tell about me.</span>
        </p>
      </main>
		</div>
	</div>
</Layout>

<style>
  .inner {
    padding-top: 5rem;
  }
	.title {
		font-weight: 500;
		font-size: 3.5rem;
		line-height: 4.1rem;
	}
  .row {
    display: flex;
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 1.2rem;
    margin-bottom: 3rem;
  }
  .row > div:nth-child(1) {
    border-right: 2px solid #E7E7E7;
    padding-right: 1rem;
    margin-right: 1rem;
  }
  .cover-img {
    background-color: var(--primary-dark);
    height: 550px;
    border-radius: 16px;
    margin-bottom: 3rem;
  }
  p {
    font-family: 'IBM Plex Serif', sans-serif;
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
  p > .major {
    font-size: 1.8rem;
    line-height: 3rem;
  }
  p > span {
    margin-bottom: 2rem;
    display: block;
    font-family: 'IBM Plex Serif', sans-serif;
  }
</style>
