---
import StoryCard from '../../components/StoryCard.astro';
import Layout from '../../layouts/Layout.astro';

let stories = await Astro.glob('../stories/*.md');
stories = stories.sort((a, b) => new Date(b.frontmatter.updatedAt).getTime() - new Date(a.frontmatter.updatedAt).getTime())

const currentYear = new Date().getFullYear()

let storyYears: Set<number> | Array<number> = new Set()
for (const story of stories) {
	storyYears.add(story.frontmatter.year)
}
storyYears = Array.from(storyYears)
---

<Layout 
	title="Articles — Favour Felix" 
	description="Writing is an interesting outlet for emotions, it is also a good way for me to share knowledge and experiences that I have gained in the past."
>
	<div class="section">
		<div class="inner">
      {storyYears.map(year => <section>
        {year === currentYear && <h2>Articles I wrote this year.</h2>}
        {year === currentYear - 1 && <h2>Articles I wrote last year.</h2>}
        {year < currentYear - 1 && <h2>Articles I wrote in {year}</h2>}
        <div class="list">
					{stories.filter(story => story.frontmatter.year === year).map(story => <StoryCard story={story} />)}
        </div>
      </section>)}
		</div>
	</div>
</Layout>

<style>
  .inner {
    padding-top: 5rem;
  }
	h2 {
		font-weight: 400;
		font-size: 3rem;
		line-height: 4rem;
		padding-top: 0.6rem;
    color: var(--primary-dark);
    margin-bottom: 2rem;
	}

	section {
		margin-bottom: 5rem;
	}

	@media screen and (max-width: 920px) {
		.inner {
			padding-top: 5%;
		}
		h2 {
			font-size: 2rem;
			line-height: 3rem;
			font-weight: 500;
		}
	} 
</style>
