---
export interface Props {
  book: object | any
}

const { book } = Astro.props;
---

<div class="card-ctn">
  <a href={`${book.url}/`} class="title">
    {book.frontmatter.title}
  </a>
  <div class="row">
    <div>{book.frontmatter.pages} pages</div>
    <div>By <span class="bold">{book.frontmatter.author}</span></div>
  </div>
</div>

<style>
  .card-ctn {
    margin-bottom: 2rem;
  }
  .title {
    font-size: 1.5rem;
    text-decoration: none;
  }
  .row {
    display: flex;
    font-size: 0.9rem;
    font-weight: 300;
    margin-top: 0.6rem;
  }
  .row > div:nth-child(1) {
    border-right: 2px solid #E7E7E7;
    padding-right: 1rem;
    margin-right: 1rem;
  }

  /* ----------
  MEDIA QUERIES
  ------------*/
  @media screen and (max-width: 920px) {
  }

  @media screen and (max-width: 600px) {
    .title {
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }
</style>