---
---

<section class="section footer-ctn">
  <div class="inner">
    <div class="copyright">
      &copy; {new Date().getFullYear()} Favour Felix
    </div>
    <ul class="social-links">
      <li>
        <a
          target="_blank"
          aria-label="Revaise LinkedIn link"
          href="https://linkedin.com/in/favourfelix"
        >
          LinkedIn
        </a>
      </li>
      <li class="email">
        <a target="_blank" href="mailto:hello@favourfelix"> Email</a>
      </li>
    </ul>
  </div>
</section>

<style>
  section {
    padding: 1.5rem 0;
    padding-bottom: 4rem;
    border-top: 2px solid #e7e7e7;
    margin-top: 8rem;
  }
  .inner {
    display: flex;
  }
  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
  }
  .copyright {
    font-size: 1rem;
    font-weight: 500;
    padding-right: 1.5rem;
    margin-right: 1.5rem;
    border-right: 2px solid #e7e7e7;
  }
  a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 400;
    font-size: 1rem;
    font-weight: 500;
    border-bottom: 1px solid #000000;
  }
  a:hover {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
  }
  .paragraph-content {
    font-size: 0.8rem;
    padding: 2rem 0;
    opacity: 0.8;
    display: inline;
  }

  /* MEDIA QUERIES */
  @media screen and (max-width: 1500px) {
  }

  @media screen and (max-width: 1100px) {
  }

  @media screen and (max-width: 920px) {
  }

  @media screen and (max-width: 600px) {
    .section {
      margin-top: 2rem;
      padding-bottom: 3.3rem;
    }
    .copyright {
      font-size: 0.875rem;
      padding-right: 1rem;
      margin-right: 1rem;
    }
    a {
      font-size: 0.875rem;
    }
  }
</style>
