---
export interface Props {
  item: any
}
---

<div class="card-ctn">
  <a href="#" class="title">
    Your Guide to Hacking CSS Units and Dimensions — One Size Could Fit All
  </a>
  <div class="row">
    <div>November 11, 2022</div>
    <div>Read for <span class="bold">5 Minutes</span></div>
  </div>
</div>

<style>
  .card-ctn {
    margin-bottom: 2rem;
  }
  .title {
    font-size: 1.5rem;
    text-decoration: none;
    color: #000000;
  }
  .row {
    display: flex;
    font-size: 0.9rem;
    font-weight: 300;
    margin-top: 0.6rem;
  }
  .row > div:nth-child(1) {
    border-right: 2px solid #E7E7E7;
    padding-right: 1rem;
    margin-right: 1rem;
  }
</style>