---
import BookCard from '../../components/BookCard.astro';
import Layout from '../../layouts/Layout.astro';

let books = await Astro.glob('../books/*.md');
books = books.sort((a, b) => new Date(b.frontmatter.updatedAt).getTime() - new Date(a.frontmatter.updatedAt).getTime())

const currentYear = new Date().getFullYear()

let bookYears: Set<number> | Array<number> = new Set()
for (const book of books) {
	bookYears.add(book.frontmatter.year)
}
bookYears = Array.from(bookYears)
---

<Layout 
	title="Books — Favour Felix" 
	description="I love reading, but I don't do a lot of it; whenever I do, I share my learnings and summarise them here. You should check them out."
>
	<div class="section">
		<div class="inner">
      {bookYears.map(year => <section>
        {year === currentYear && <h2>Books I read this year.</h2>}
        {year === currentYear - 1 && <h2>Books I read last year.</h2>}
        {year < currentYear - 1 && <h2>Books I read in {year}</h2>}
        <div class="list">
					{books.filter(book => book.frontmatter.year === year).map(book => <BookCard book={book} />)}
        </div>
      </section>)}
		</div>
	</div>
</Layout>

<style>
  .inner {
    padding-top: 5rem;
  }
	h2 {
		font-weight: 400;
		font-size: 3rem;
		line-height: 4rem;
		padding-top: 0.6rem;
    color: var(--primary-dark);
    margin-bottom: 2rem;
	}

	section {
		margin-bottom: 5rem;
	}

	@media screen and (max-width: 920px) {
		.inner {
			padding-top: 5%;
		}
		h2 {
			font-size: 2rem;
			line-height: 3rem;
			font-weight: 500;
		}
	} 
</style>
