---
import type app from '../plugins/firebase'
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

const defaultTitle = 'Favour Felix'
const defaultDescription = 'Favour Felix website'
const defaultImage = 'https://firebasestorage.googleapis.com/v0/b/revaise-app.appspot.com/o/images%2Frvs-banner.webp?alt=media&token=a7419e8c-e3ab-495b-bbbc-2a473fc67581'

export interface Props {
	title: string,
	description: string,
	img: string
}

const { title, description, img } = Astro.props;
---

<!DOCTYPE html>
<html dir="auto" lang="en" class="initial">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="keywords" content="">
		<meta name="title" content={title || defaultTitle}>
		<meta name="description" content={description || defaultDescription}>
		<meta name="og:title" content={title || defaultTitle}>
		<meta name="og:description" content={description || defaultDescription}>
		<meta name="og:image" content={img || defaultImage}>
		<meta name="og:type" content="website">
		<meta name="og:site_name" content={defaultTitle}>
		<meta name="og:url" content="https://favourfelix.com">
		<meta name="twitter:card" content="">
		<meta name="twitter:title" content={title || defaultTitle}>
		<meta name="twitter:description" content={description || defaultDescription}>
		<meta name="twitter:site" content="">
		<meta name="twitter:creator" content="">
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
		<Footer />
		<script>
			
		</script>
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

	*{
		margin: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
		font-family: 'Inter', sans-serif;
	}
	html {
		scroll-behavior: smooth;
	}
	body {
		background: #FFF8EE;
	}
	:root {
		/* VIEWPORT SIZES */
		--desktop-width: 1200px;
		--modal-width: 480px;
		--header-height: 120px;
	
		/* HUES */
		--primary: #FFAB2D;
		--primary-dark: #DE8500;
	
		/* DURATION */
		--anim-interval: 0.3s;
		--progress-interval: 0.4s;
	
		/* FONT SIZES */
		--header-font: 1.6rem;
		--normal-font: 1.1rem;
	}

	/*-----------
	BUTTONS 
	-------------*/
	button {
		cursor: pointer;
		transition: var(--anim-interval);
	}
	.primary-btn {
		border: none;
		background-color: var(--primary);
		text-decoration: none;
		color: var(--primary-dark);
		border-radius: 5px;
		cursor: pointer;
		outline: none;
		height: 60px;
		width: 100%;
		display: grid;
		place-items: center;
		font-size: 1rem;
		font-weight: 600;
		transition: 0.3s;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-ms-transition: 0.3s;
		-o-transition: 0.3s;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
	}
	.primary-btn:active {
		background-color: var(--primary-light);
	}

	/*-----------
	PAGE SECTIONS 
	-------------*/
	.section > .inner {
		max-width: var(--desktop-width);
		width: 100%;
		margin: auto;
	}

	/* ----------
	MEDIA QUERIES
	------------*/
	@media screen and (max-width: 1500px) {
		.section > .inner {
			max-width: var(--desktop-width);
		}
	}

	/* ANIMATIONS */
	
	/* COME UP/DOWN ANIM */
	.come-down {
		animation: come-down 0.4s ease-in-out forwards;
		-webkit-animation: come-down 0.4s ease-in-out forwards;
	}
	@keyframes come-down {
		0% {
			opacity: 0;
			transform: translateY(-10px);
			-webkit-transform: translateY(-10px);
			-moz-transform: translateY(-10px);
			-ms-transform: translateY(-10px);
			-o-transform: translateY(-10px);
	}
		100% {
			opacity: 1;
			transform: translateY(0);
			-webkit-transform: translateY(0);
			-moz-transform: translateY(0);
			-ms-transform: translateY(0);
			-o-transform: translateY(0);
	}
	}
	.come-up-1 {
		animation: come-up 0.4s ease-in-out forwards;
		-webkit-animation: come-up 0.4s ease-in-out forwards;
	}
	.come-up-2 {
		animation: come-up 0.7s ease-in-out forwards;
		-webkit-animation: come-up 0.7s ease-in-out forwards;
	}
	.come-up-3 {
		animation: come-up 1s ease-in-out forwards;
		-webkit-animation: come-up 1s ease-in-out forwards;
	}
	.come-up-4 {
		animation: come-up 1.3s ease-in-out forwards;
		-webkit-animation: come-up 1.3s ease-in-out forwards;
	}
	.come-up-5 {
		animation: come-up 1.6s ease-in-out forwards;
		-webkit-animation: come-up 1.6s ease-in-out forwards;
	}

	@keyframes come-up {
		0% { opacity: 0; transform:translateY(10px) ; -webkit-transform:translateY(10px) ; -moz-transform:translateY(10px) ; -ms-transform:translateY(10px) ; -o-transform:translateY(10px) ; }
		100% { opacity: 1; transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); }
	}


	/* BIG ANIM - TEXT ANIM */
	.big-anim-1 {
		animation: big-anim 1.6s ease-in-out forwards;
		-webkit-animation: big-anim 1.6s ease-in-out forwards;
	}
	.big-anim-2 {
		animation: big-anim 2.0s ease-in-out forwards;
		-webkit-animation: big-anim 2.0s ease-in-out forwards;
	}
	.big-anim-3 {
		animation: big-anim 2.4s ease-in-out forwards;
		-webkit-animation: big-anim 2.4s ease-in-out forwards;
	}
	.big-anim-4 {
		animation: big-anim 2.8s ease-in-out forwards;
		-webkit-animation: big-anim 2.8s ease-in-out forwards;
	}

	@keyframes big-anim {
		0% {
			opacity: 0;
		}
		50% {
			transform: translate3d(0, 40%, 0) rotateX(-70deg) skew(0deg, 0deg);
			opacity: 0;
		}
		100% {
			transform: translate3d(0, 0%, 0) rotateX(-0deg) skew(0deg, 0deg);
			opacity: 1;
			-webkit-transform: translate3d(0, 0%, 0) rotateX(-0deg) skew(0deg, 0deg);
			-moz-transform: translate3d(0, 0%, 0) rotateX(-0deg) skew(0deg, 0deg);
			-ms-transform: translate3d(0, 0%, 0) rotateX(-0deg) skew(0deg, 0deg);
			-o-transform: translate3d(0, 0%, 0) rotateX(-0deg) skew(0deg, 0deg);
	}
	}


	/* WIPE OUT/IN ANIM */
	.wipe-out {
		animation: wipe-out 1.2s ease forwards;
		-webkit-animation: wipe-out 1.2s ease forwards;
	}
	@keyframes wipe-out {
		0% { transform: translateX(0); -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); }
		100% { transform: translateX(900px); -webkit-transform: translateX(900px); -moz-transform: translateX(900px); -ms-transform: translateX(900px); -o-transform: translateX(900px); }
	}
	.wipe-in {
		animation: wipe-in 1.2s ease forwards;
		-webkit-animation: wipe-in 1.2s ease forwards;
	}
	@keyframes wipe-in {
		0% { transform: translateX(900px); -webkit-transform: translateX(900px); -moz-transform: translateX(900px); -ms-transform: translateX(900px); -o-transform: translateX(900px); }
		100% { transform: translateX(0); -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); }
	}


	/* SCALE UP ANIM */
	.scale-up-hero {
		transform-origin: center;
		animation: scale-up-hero 0.6s ease;
	}
	.scale-up {
		transform-origin: center;
		animation: scale-up 0.4s ease;
		-webkit-animation: scale-up 0.4s ease;
	}
	.scale-up-2 {
		transform-origin: center;
		animation: scale-up 0.6s ease;
		-webkit-animation: scale-up 0.6s ease;
	}
	.scale-up-3 {
		transform-origin: center;
		animation: scale-up 1s ease;
		-webkit-animation: scale-up 1s ease;
	}
	@keyframes scale-up {
		0% {opacity: 0;}
		20% {
			opacity: 0;
			transform: scale(0.8);
			-webkit-transform: scale(0.8);
			-moz-transform: scale(0.8);
			-ms-transform: scale(0.8);
			-o-transform: scale(0.8);
		}
		100% {
			opacity: 1;
			transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
		}
	}
	@keyframes scale-up-hero {
		0% {
			opacity: 0;
			transform: scale(0.9);
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}


	/* SQUEEZE OUT/IN ANIM */
	.squeeze-out {
		animation: squeeze-out 0.5s ease-in-out forwards;
		-webkit-animation: squeeze-out 0.5s ease-in-out forwards;
	}
	.squeeze-in {
		animation: squeeze-in 0.5s ease-in-out forwards;
		-webkit-animation: squeeze-in 0.5s ease-in-out forwards;
	}
	@keyframes squeeze-out {
		from {
			opacity: 0;
			transform: scale(0.8);
		}
		to {
			opacity: 1;
			transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
		}
	}
	@keyframes squeeze-in {
		from {
			opacity: 1;
			transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
		}
		to {
			opacity: 0;
			transform: scale(0.8);
			-webkit-transform: scale(0.8);
			-moz-transform: scale(0.8);
			-ms-transform: scale(0.8);
			-o-transform: scale(0.8);
		}
	}


  /* MEDIA QUERIES */
  @media screen and (max-width: 1500px) {
  }

  @media screen and (max-width: 1100px) {
  }

  @media screen and (max-width: 920px) {
  }

  @media screen and (max-width: 600px) {
  }
</style>
